In [1]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [2]:
#read in files
trump_16 = pd.read_json('C:/Users/bobal/Data_Science/GA/condensed_2016.json')
trump_17 = pd.read_json('C:/Users/bobal/Data_Science/GA/condensed_2017.json')
trump_16.sort_index(ascending=False, inplace = True)
trump_17.sort_index(ascending =False, inplace = True)
trump = trump_16.append(trump_17, ignore_index=True)
trump.shape

(5884, 8)

In [3]:
trump.head()

,created_at,favorite_count,id_str,in_reply_to_user_id_str,is_retweet,retweet_count,source,text
0,2016-01-01 00:44:14,6735,682723973449289728,NaN,False,2108,Twitter for Android,"I will be on @FoxNews live, with members of m..."
1,2016-01-01 03:25:27,8581,682764544402440192,NaN,False,3460,Twitter for iPhone,HAPPY NEW YEAR &amp; THANK YOU! https://t.co/Y...
2,2016-01-01 05:18:23,9143,682792967736848384,NaN,False,3434,Twitter for iPhone,#HappyNewYearAmerica! https://t.co/EeQb8PDrUe
3,2016-01-01 06:07:28,8258,682805320217980928,NaN,False,1948,Twitter for iPhone,Happy New Year from #MarALago! Thank you to my...
4,2016-01-01 06:08:06,7490,682805477168779264,NaN,False,2721,Twitter for Android,"""@jallenaip: Hillary said she was in a ""Fog of..."

In [4]:
#preprocess trump tweets
trump.text = trump.text.apply(lambda x: re.sub(r'^https?:\/\/.*[\r\n]*', '', x, flags=re.MULTILINE))

In [6]:
#instantiate vadersentiment and analyze tweets for negative, neutral, or positive sentiment.
#Calculate overall sentiment for tweet
analyser = SentimentIntensityAnalyzer()

neg=[]
neu=[]
pos=[]
com=[]
for idx, text in enumerate(trump.text):
    snt = analyser.polarity_scores(text)
    neg.append(snt['neg'])
    neu.append(snt['neu'])
    pos.append(snt['pos'])
    com.append(snt['compound'])
    
trump['neg']=neg
trump['neu']=neu
trump['pos']=pos
trump['com']=com

In [16]:
trump[trump['com'] == 0].count()

created_at                 960
favorite_count             960
id_str                     960
in_reply_to_user_id_str      8
is_retweet                 960
retweet_count              960
source                     960
text                       960
neg                        960
neu                        960
pos                        960
com                        960
dtype: int64

In [17]:
#Make dataframe a datetime index
trump.index=pd.DatetimeIndex(trump['created_at'])
trump.drop('created_at', axis = 1, inplace =True)

In [33]:
neg

favorite_count             1666
id_str                     1666
in_reply_to_user_id_str      13
is_retweet                 1666
retweet_count              1666
source                     1666
text                       1666
neg                        1666
neu                        1666
pos                        1666
com                        1666
dtype: int64

In [20]:
#resample for daily time period, Calculate sentiment for all tweets per day
trump_sent = pd.DataFrame(trump.resample('D')['com'].sum())

In [21]:
trump_sent.head()

               com
created_at
2016-01-01  6.4942
2016-01-02  2.8296
2016-01-03  0.1894
2016-01-04  2.0465
2016-01-05  8.0538

In [23]:
trump_sent.drop('created_at', axis =1, inplace = True)
trump_sent.to_csv('trump_sent.csv')